input {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

.container {
  background-color: beige;
  padding: 20px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";